.acerca-de {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
  }
  
  .acerca-de .div {
	background-color: #ffffff;
	overflow: hidden;
	width: 1439px;
	height: 2200px;
	position: relative;
  }
  
  .acerca-de .navigation-footer {
	position: absolute;
	width: 1440px;
	height: 264px;
	top: 1947px;
	left: -1px;
	background-color: #001e2b;
  }
  
  .acerca-de .items {
	display: flex;
	flex-direction: column;
	width: 330px;
	align-items: flex-end;
	justify-content: center;
	gap: 15px;
	position: absolute;
	top: 22px;
	left: 1025px;
  }
  
  .acerca-de .text-wrapper {
	position: relative;
	align-self: stretch;
	margin-top: -1.00px;
	font-family: "Century Gothic-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
  }
  
  .acerca-de .text-wrapper-2 {
	position: relative;
	align-self: stretch;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
  }
  
  .acerca-de .items-2 {
	width: 330px;
	top: 133px;
	left: 1025px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 15px;
	position: absolute;
  }
  
  .acerca-de .items-3 {
	width: 187px;
	top: 22px;
	left: 796px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 15px;
	position: absolute;
  }
  
  .acerca-de .div-2 {
	display: flex;
	flex-direction: column;
	width: 187px;
	align-items: flex-end;
	justify-content: center;
	gap: 15px;
	position: absolute;
	top: 22px;
	left: 571px;
  }
  
  .acerca-de .overlap-group {
	position: absolute;
	width: 490px;
	height: 59px;
	top: 176px;
	left: 80px;
  }
  
  .acerca-de .social-icons {
	display: inline-flex;
	align-items: flex-start;
	gap: var(--variable-collection-spacing-XS);
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .acerca-de .buttons-icon {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 4px;
  }
  
  .acerca-de .icon {
	position: relative;
	width: 24px;
	height: 24px;
	top: 8px;
	left: 8px;
  }
  
  .acerca-de .img {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 2px;
	left: 2px;
  }
  
  .acerca-de .icon-2 {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 3px;
	left: 3px;
  }
  
  .acerca-de .icon-3 {
	position: absolute;
	width: 20px;
	height: 14px;
	top: 5px;
	left: 2px;
  }
  
  .acerca-de .p {
	position: absolute;
	width: 480px;
	height: 25px;
	top: 34px;
	left: 10px;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	white-space: nowrap;
  }
  
  .acerca-de .divider {
	position: absolute;
	width: 1280px;
	height: 1px;
	top: 1px;
	left: 80px;
	object-fit: cover;
  }
  
  .acerca-de .herramienta-para {
	position: absolute;
	width: 261px;
	height: 90px;
	top: 54px;
	left: 176px;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #9fb816;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 30px;
  }
  
  .acerca-de .pie {
	position: absolute;
	width: 74px;
	height: 116px;
	top: 35px;
	left: 86px;
	object-fit: cover;
  }
  
  .acerca-de .porqu-medir-la {
	display: flex;
	flex-direction: column;
	width: 1272px;
	height: 390px;
	align-items: flex-start;
	gap: 50px;
	padding: 30px 0px;
	position: absolute;
	top: 1493px;
	left: 87px;
  }
  
  .acerca-de .porque-medir-la {
	display: flex;
	width: 1272px;
	height: 431px;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 0px 0px 10px;
	position: relative;
	margin-bottom: -101.00px;
  }
  
  .acerca-de .union {
	position: relative;
	width: 302px;
	height: 234.89px;
  }
  
  .acerca-de .union-2 {
	position: relative;
	width: 279.15px;
	height: 225.89px;
  }
  
  .acerca-de .union-3 {
	position: relative;
	width: 285.78px;
	height: 256.86px;
  }
  
  .acerca-de .text-wrapper-3 {
	position: absolute;
	width: 1272px;
	height: 71px;
	top: 0;
	left: 0;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 48px;
	text-align: center;
	letter-spacing: 0;
	line-height: 72px;
	white-space: nowrap;
  }
  
  .acerca-de .cmo-funciona-nuestra {
	position: absolute;
	width: 1272px;
	height: 604px;
	top: 825px;
	left: 86px;
  }
  
  .acerca-de .funciona {
	position: absolute;
	width: 1068px;
	height: 196px;
	top: 244px;
	left: 102px;
	object-fit: cover;
  }
  
  .acerca-de .union-4 {
	position: absolute;
	width: 413px;
	height: 128px;
	top: 111px;
	left: 805px;
  }
  
  .acerca-de .union-5 {
	position: absolute;
	width: 514px;
	height: 138px;
	top: 445px;
	left: 379px;
  }
  
  .acerca-de .text-wrapper-4 {
	position: absolute;
	width: 1272px;
	height: 72px;
	top: -1px;
	left: 0;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 48px;
	text-align: center;
	letter-spacing: 0;
	line-height: 72px;
	white-space: nowrap;
  }
  
  .acerca-de .union-6 {
	position: absolute;
	width: 429px;
	height: 128px;
	top: 111px;
	left: 34px;
  }
  
  .acerca-de .qu-es-HMHCPTI {
	position: absolute;
	width: 1272px;
	height: 513px;
	top: 191px;
	left: 87px;
  }
  
  .acerca-de .que-es {
	display: flex;
	flex-direction: column;
	width: 636px;
	height: 318px;
	align-items: flex-start;
	gap: 50px;
	padding: 30px 10px 0px 0px;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .acerca-de .qu-es-HMHCPTI-2 {
	position: relative;
	width: 619px;
	height: 101px;
	margin-top: -1.00px;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: transparent;
	font-size: 64px;
	letter-spacing: -1.28px;
	line-height: normal;
  }
  
  .acerca-de .span {
	color: #000000;
	letter-spacing: -0.82px;
  }
  
  .acerca-de .text-wrapper-5 {
	color: #9fb816;
	letter-spacing: -0.82px;
  }
  
  .acerca-de .text-wrapper-6 {
	position: relative;
	width: 619px;
	height: 75px;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #000000bf;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 36px;
  }
  
  .acerca-de .buttons {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	position: relative;
	flex: 0 0 auto;
	margin-bottom: -48.00px;
  }
  
  .acerca-de .button {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	padding: 12px 24px;
	position: relative;
	flex: 0 0 auto;
	background-color: #001e2b;
	border-radius: 8px;
	box-shadow: var(--button-shadow);
  }
  
  .acerca-de .text-wrapper-7 {
	position: relative;
	width: fit-content;
	margin-top: -1.00px;
	font-family: "Inter-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 36px;
	white-space: nowrap;
  }
  
  .acerca-de .div-wrapper {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	padding: 12px 24px;
	flex: 0 0 auto;
	background-color: #e6e6e6;
	align-items: center;
	gap: 8px;
	position: relative;
	border-radius: 8px;
	box-shadow: var(--button-shadow);
  }
  
  .acerca-de .text-wrapper-8 {
	position: relative;
	width: fit-content;
	margin-top: -1.00px;
	font-family: "Inter-Medium", Helvetica;
	font-weight: 500;
	color: #000000;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 36px;
	white-space: nowrap;
  }
  
  .acerca-de .icono {
	position: absolute;
	width: 563px;
	height: 461px;
	top: 0;
	left: 709px;
	object-fit: cover;
  }
  
  .acerca-de .navigation {
	position: absolute;
	width: 1440px;
	height: 164px;
	top: 27px;
	left: -1px;
	background-color: #ffffff;
	overflow: hidden;
  }
  
  .acerca-de .navbar {
	display: flex;
	width: 1012px;
	height: 51px;
	align-items: center;
	gap: 20px;
	position: absolute;
	top: 47px;
	left: 392px;
	border-radius: var(--size-stroke-border);
  }
  
  .acerca-de .text-wrapper-9 {
	position: relative;
	width: 51px;
	height: 20px;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 30px;
	text-decoration: underline;
	white-space: nowrap;
  }
  
  .acerca-de .text-wrapper-10 {
	position: relative;
	width: fit-content;
	-webkit-text-stroke: 1px #ffffff;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #9fb816;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 30px;
	text-decoration: underline;
	white-space: nowrap;
  }
  
  .acerca-de .text-wrapper-11 {
	position: relative;
	width: fit-content;
	-webkit-text-stroke: 1px #ffffff;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 30px;
	text-decoration: underline;
	white-space: nowrap;
  }
  
  .acerca-de .button-2 {
	all: unset;
	box-sizing: border-box;
	display: flex;
	width: 150px;
	height: 50px;
	justify-content: center;
	padding: 14px 24px;
	background-color: #001e2b;
	align-items: center;
	gap: 8px;
	position: relative;
	border-radius: 8px;
	box-shadow: var(--button-shadow);
  }
  
  .acerca-de .text-wrapper-12 {
	position: relative;
	width: fit-content;
	margin-top: -2.00px;
	margin-left: -1.00px;
	margin-right: -1.00px;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	white-space: nowrap;
  }
  
  .acerca-de .button-3 {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	height: 50px;
	justify-content: center;
	padding: 14px 24px;
	flex: 0 0 auto;
	border: 2px solid;
	border-color: #001e2b;
	align-items: center;
	gap: 8px;
	position: relative;
	border-radius: 8px;
	box-shadow: var(--button-shadow);
  }
  
  .acerca-de .text-wrapper-13 {
	position: relative;
	width: fit-content;
	margin-top: -3.00px;
	font-family: var(--small-text-font-family);
	font-weight: var(--small-text-font-weight);
	color: #001e2b;
	font-size: var(--small-text-font-size);
	letter-spacing: var(--small-text-letter-spacing);
	line-height: var(--small-text-line-height);
	white-space: nowrap;
	font-style: var(--small-text-font-style);
  }
  
  .acerca-de .sol {
	position: relative;
	width: 50px;
	height: 50px;
	object-fit: cover;
  }
  
  .acerca-de .pie-2 {
	position: absolute;
	width: 60px;
	height: 88px;
	top: 29px;
	left: 33px;
	object-fit: cover;
  }
  
  .acerca-de .divider-2 {
	position: absolute;
	width: 1272px;
	height: 1px;
	top: 164px;
	left: 87px;
	object-fit: cover;
  }
  
  .acerca-de .herramienta-para-2 {
	position: absolute;
	width: 260px;
	height: 90px;
	top: 26px;
	left: 102px;
	-webkit-text-stroke: 1px #ffffff;
	font-family: "Century Gothic-Regular", Helvetica;
	font-weight: 400;
	color: #9fb816;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 30px;
	text-decoration: underline;
  }
  